body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  text-align:left;
}

table tr {
  cursor: pointer;
}

table tr:hover {
  background-color: #ddd;
}

table img {
  height: 60px;
}

.grid {
  display: flex;
}


nav {
  background-color: #32c3ff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 5px;
}
nav a.active {
  font-weight: bold;
}

.celebrities-list {
  height: calc(100vh - 131px);
  overflow-y: scroll;
}